body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #011e29;
  color: white;
  text-align: center;
  padding: 15px;
}

.container {
	gap:10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.latest-news-section {
  background-color: #fff;
  width: 20%;
  padding: 15px;
  border-radius: 10px;
}

.latest-news-section h3 {
  text-align: center;
}

.latest-news-section ul {
  list-style-type: disc;
  padding-left: 30px;
	text-indent:60px;
}


.main-article {
	text-align:center;
  background-color: #fff;
  width: 45%;
  padding: 15px;
  border-radius: 10px;
}

.main-article h3 {
  text-align: center;
}

.pictorial-news-section {
  background-color: #fff;
  width: 25%;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.pictorial-news-section h3 {
  margin-bottom: 10px;
}

.pictorial-news-section .images {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  gap: 10px;               
}

.pictorial-news-section img {
  width: 120px;
  height: 120px;
  
  object-fit: cover;	
}

